.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    padding: 32px 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.6);

    @media (width < 576px) {
        padding: 80px 15px;
    }
}

.body {
    box-sizing: border-box;
    padding: 50px;
    border-radius: 24px;
    background-color: #ffffff;
    outline: 0 none;
    overflow: hidden;

    @media (width < 576px) {
        width: 100%;
    }

    & > * {
        margin-bottom: 12px;
    }

    & > .headline {
        font-size: 24px;
    }
}

.content {
    --table-border-color: #7f7f7f;

    display: flex;
    flex-flow: row nowrap;
    border: 2px solid var(--table-border-color);
    overflow-y: auto;

    & > .column {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        border-right: 2px solid var(--table-border-color);

        &:last-child {
            border: none;
        }

        & > .ceil {
            box-sizing: border-box;
            width: 100%;
            padding: 5px;
            border-bottom: 2px solid var(--table-border-color);
            white-space: nowrap;

            &:last-child {
                border: none;
            }
        }
    }
}

.highlighting {
    font-weight: bold;
}

.high {
    color: #66B032;
}

.medium {
    color: #FF8000;
}

.low {
    color: brown;
}