.content {
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px 20px;
}

.header {
    margin-bottom: 20px;
    color: #000000;

    &.dark {
        color: #ff9900;
    }
}

.author {
    cursor: pointer;
    color: blue;

    &.dark {
        color: deepskyblue;
    }
}

.lyrics {
    width: fit-content;

    & > .row {
        width: 100%;
        font-family: "Courier New", serif;
        text-align: left;
        white-space: pre-wrap;
        color: #000000;

        &.dark {
            color: #ff9900;
        }
    }
}

.chord {
    color: red !important;
    cursor: pointer;

    .dark > & {
        color: #44d370;
    }
}

.buttons-block {
    position: fixed;
    right: 16px;
    bottom: 16px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 16px;
    opacity: 0.7;

    & > .active {
        background: #21ba72;
    }

    & > .speed {
        width: 32px;
        height: 32px;
        background: #7f7f7f;
    }
}