.content {
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;
    padding: 48px;

    @media (width < 576px) {
        padding: 24px;
    }
}

.title {
    width: 100%;
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 1.25;
    letter-spacing: -0.3px;
    text-align: left;
    white-space: pre-wrap;
    color: #000000;

    @media (width < 576px) {
        margin-bottom: 8px;
        font-size: 22px;
        line-height: 30px;
        letter-spacing: 0.2px;
    }

    .centered > & {
        text-align: center;
    }
}

.footer {
    width: 100%;
    margin-top: 32px;
    display: inline-flex;
    text-align: left;

    @media (width < 576px) {
        margin-top: 16px;
    }

    .centered > & {
        justify-content: center;
    }
}
