@import '../../styles/variables';

.page {
    box-sizing: border-box;
    position: relative;
    text-align: center;
    max-width: $max-content-width;
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    width: 100%;
    background: #ffffff;

    &.dark {
        background: #000000;
    }
}