.text {
    flex-grow: 1;
    font-family: SBSansDisplay-Regular, sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.78;
    text-align: center;
    overflow: hidden;
    text-overflow: clip;
    background-image: linear-gradient(to right, rgb(0, 0, 0) 80%, transparent 100%);
    -webkit-background-clip: text;
    color: transparent;

    @media (max-width: 575px) {
        font-size: 16px;
        line-height: normal;
    }

    &-wrapper {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        width: 100%;
        padding: 12px;
        background: rgba(0, 0, 0, 0.08);
        border-radius: 8px;
        cursor: pointer;

        @media (max-width: 575px) {
            border-radius: 4px;
        }

        & > img {
            width: 22px;
            height: 22px;
        }
    }
}

.success-msg {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    padding: 10px;
    background: #182329;
    border: 1px solid rgba(0, 0, 0, 0.16);
    border-radius: 20px;

    &-wrapper {
        position: absolute;
        top: -105%;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & > span {
        margin: 0 10px;
        font-family: SBSansDisplay-Regular, sans-serif;
        font-size: 12px;
        font-weight: bold;
        line-height: 1.56;
        text-align: center;
        vertical-align: center;
        color: #ffffff;
    }
}

.inline {
    white-space: nowrap;
    padding: 0 8px 0 26px;
}
