@import '../../styles/mixins';

.header {
    --button-background-color: #eef3ff;

    box-sizing: border-box;
    height: 76px;
    padding: 16px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    z-index: 50;
    top: 0;
    background-color: transparent;

    @include adaptive-for-mobile {
        height: 68px;
        padding: 8px;
    }
}

.static {
    position: static;
}

.fixed {
    position: fixed;
}

.sticky {
    position: sticky;
}

.relative {
    position: relative;
}

.transparent {
    background-color: transparent;
}

.white {
    background-color: #fff;
}

.slots {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    gap: 25px;
}

.slot:last-child {
    margin-right: 0;
}

.scaled {
    &.header {
        height: 88px;
        padding: 24px 32px;
    }

    & .slot {
        margin-right: 25px;

        &:last-child {
            margin-right: 0;
        }
    }
}
