.header {
    margin-bottom: 20px;
    color: #000000;

    &.dark {
        color: #ff9900;
    }
}

.content {
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
    padding: 0 50px 20px;
    gap: 32px;
    column-count: 3;

    & > .text {
        color: mediumblue;
        cursor: pointer;

        &.dark {
            color: deepskyblue;
        }
    }
}
